
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #1a3c6e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Layout Container */
.container {
    display: flex; 
    
}

/* Sidebar */
.sidebar {
    flex: 0.5;
    background-color: #bfc9bf;
    height: auto;
    padding: 20px 20px 0 20px;
   

    
}

.sidebar h3 {
    margin-bottom: 15px; 
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #0f0f0f;
}


.content-card {
    flex: 3;
    background: white;
    border: 5px solid #1a3c6e;
    border-radius: 30px;
    padding: 40px; 
    text-align: center;
    margin: 20px 40px;
    
}

.content-card h1 {
    font-size: 2.5rem;
    color: #183b74;
    margin-bottom: 20px; 
}

.image-container img {
    width: 300px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
    
}

/* Button */
.learn-more {
    background: linear-gradient(to bottom, #5cb85c, #449d44);
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px  5px #152a11;
}

.learn-more:active {
    box-shadow: none;
    transform: translateY(2px);
}


footer {
    text-align: center;
    /* padding: 20px; */
    border-top: 1px solid #ddd; 
    /* margin-top: 50px; */
}

.social-icons a {
    margin-top: 10px;
    font-size: 1.5rem;
    word-spacing: 15px;
    color: #f30e0e;
}