* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    
    background-image: url(https://img.freepik.com/premium-photo/minimalist-office-with-clean-lines-open-space_622540-14686.jpg?semt=ais_user_personalization&w=740&q=80);
    background-size: 75%;
    background-attachment: fixed;
   
} 

.mission-container {
    display: flex;
    max-width: 1100px;
    gap: 50px;
    align-items: center;
    
}

/* Content Styling */
.content-side {
    flex: 1;
    color: #333;
}

.content-side h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.intro-text {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 30px;
}

.stats-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.stat-item {
    margin-top: 25px;
}

.stat-item h3 {
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
}

.stat-item h3 span {
    font-size: 1rem;
    color: #5308df;
    font-weight: normal;
    text-transform: lowercase;
}

.stat-item p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #090909;
    margin-top: 5px;
}

/* Image Styling */
.image-side {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.image-wrapper {
    width: 900%;
    max-width: 500px;
    overflow: hidden;
  
    
}
.image-wrapper img {
    width: 100%;
    height: 80%;
    display: block;
    object-fit: cover;
    border-radius: 100px 40px 100px 28px;
    
    
   
}


