body {
    background-color: #121214;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px 0px; 
    
}

.subtitle {
    font-size: 0.9rem;
    color: #e80505;
    margin-top: auto;
}

h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

h2 span {
    color: #e67e22; 
}

/* Card Layout */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card {
    background: transparent;
    border: 3px solid #697839;
    padding: 30px;
    width: 300px;
    text-align: left;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px #9584db;
}


.card::after {
    content: ',,';
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 150px;
    color: #5d5d5e;
    line-height: 1;
}

.card h3 {
    font-size: 1rem;
    margin: 0;
}

.card h3 span {
    font-weight: normal;
    font-size: 0.85rem;
    color: #aaa;
}

.stars {
    color: #e67e22;
    margin: 10px 0;
}

.card p {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.6;
}

/* Pagination */
.dots {
    margin: 20px 0;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #454343;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
}

.dot.active {
    background-color: #fff;
    transform: scale(1.2);
}

.footer-text {
    margin-top: 40px;
    font-size: 0.9rem;
    font-weight: bold;
}



